<!doctype html>
<html>
<head>
    <title>Andarography</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css"
          rel="stylesheet">
    <style>
/*        body{
             background-image: url('http://graphics8.nytimes.com/newsgraphics/2014/01/12/places-to-go/assets/images/capetown-900.jpg');
             background-repeat: no-repeat;
 
        }*/
    </style>
</head>
<body >

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class=





<h1>Andarography</h1>

{% if "user_id" in session %}
    <a href="/logout" class="btn btn-default" href="#" role="button">Logout</a>
    <a href="/user">{{ session['user_firstname'] }}</a>
{% else %}
    <a href="/login" class="btn btn-default" href="#" role="button">Login</a>
{% endif %}

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>