{% extends 'base.html' %}
{% block links %}
<style>
*, *:before, *:after {box-sizing:  border-box !important;}

body{
    background:url(/static/mission.jpg);
    background-position: center center;
    background-attachment: fixed;
  }

h1{
  text-align: center;
}

.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  45%; 
}

.well {
 position:relative;
 display: block;
 background-color: rgba(16, 16, 16, 0.5);
 border-color: black;
}

.white{
  color:#fff;
}

#name{
  font-size: 1.3em;
}

</style>
{% endblock %}

{% block content %}



<h1 class="white">San Francisco</h1>


<div class="container">
  <div class="row-fluid">

  {% for experience, provider, venue in experiences_and_providers_and_venues %}
    <div class="item">
      <div class="well">

          <p class="white" id="name">{{ experience.exp_name }}</p>

          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal{{experience.exp_id}}">Experience Details</button>

            <!-- Modal -->
              <div class="modal fade" id="myModal{{experience.exp_id}}" role="dialog">
                  <div class="modal-dialog">
                              
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Description</h4>
                      </div>
                      <div class="modal-body">

                        <p> {{experience.exp_description}}</p>
                        {% if provider %}
                          <div>{{provider.exp_provider_name}}</div>
                        {% endif %}

                        {% if venue %}

                          <div>{{venue.exp_address_line1}}</div>

                          {% if venue.exp_address_line2 %}
                            <div>{{venue.exp_address_line2}}</div>
                          {% endif %}


                        <div>{{venue.exp_address_city}}, {{venue.exp_address_region}}</div>
                        <div>{{venue.exp_address_zipcode}}</div>

                        {% endif %}

                      </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                  </div>
                                
                  </div>
              </div>
                        

          <p class="white">{{experience.exp_start_datetime.month}}/{{experience.exp_start_datetime.day}}/{{experience.exp_start_datetime.year}}</p>
          <p class="white">{{experience.exp_start_datetime.hour}}:{{"%02d" % experience.exp_start_datetime.minute}}</p> 
          <p class = "badge price">{{experience.exp_price}}</p>

                        
          {% if provider and provider.eventbrite_provider_id %}
              <a id="{{experience.exp_id}}" href="http://www.eventbrite.com/event/{{experience.eventbrite_event_id}}?ref=ebtn" class="book-button" target="_blank">
                  <img border="0" src="http://www.eventbrite.com/custombutton?eid={{experience.eventbrite_event_id}}" alt="Register for Eventbrite API - Office Hours on Eventbrite" />
              </a>
          {% else %}
              <button type="button" class="btn btn-default book-button 
                            {% if experience.exp_id in booked_experiences %}
                              btn-warning
                              {% endif %}
                            "  id="{{experience.exp_id}}">Book It
              </button>
          {% endif %}


          <button type="button" class="btn btn-default wander-button
                              {% if experience.exp_id in favorited_experiences %}
                              btn-primary
                              {% endif %}
                            " id="{{experience.exp_id}}">Wanderlist
          </button>
                  
      </div>
    </div>

  {% endfor %}
  </div>
</div>


{% endblock %}